{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src",
          "./test"
        ]
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}